{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin{% endblock %}</title>

    <link rel="icon" href="{% static 'images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="admin-body">

    <!-- SIDEBAR (igual que dashboard) -->
    {% include "admin/partials/sidebar.html" %}

    <main class="admin-main">

        <!-- HEADER (igual que dashboard) -->
        {% include "admin/partials/header.html" %}

        <div class="admin-content">
            {% block content %}{% endblock %}
        </div>

    </main>

    {% block extra_js %}{% endblock %}

</body>
</html>